.login-form {
    margin-top: 30px;
    background: #FFF;
    padding: 15px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;

    .span{
        font-size: 1.5em;
        margin: 1em 0;
    }

}
