// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//mixins
@import "mixins";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~toastr/build/toastr.css";

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

//box
@import "box";

//font-awesome
@import "~font-awesome/scss/font-awesome";

//jequery-confirm
@import "~jquery-confirm/css/jquery-confirm.css";

//reset
@import "layouts/reset";

//dark mods
@import "dark-mods";

//template
@import "layouts/smallTop";

//navbar
@import "layouts/navbar";

//main
@import "layouts/main";

//pages
@import "pages";

::selection {
    color: black;
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

