.navbar {
    #brand {
        font-family: 'Berkshire Swash';
        font-size: 25px;
    }

    li {

        a {
            &.user-action {
                padding: 9px 15px;

                img {
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    margin-right: 10px;
                }

                &:after {
                    display: none;
                }

            }

        }

        &.nav-item.guest {
            a {
                &:after {
                    display: none;
                }
            }

            .dropdown-menu {
                min-width: 250px;
                padding: 14px 14px 0;
                overflow: hidden;
                background-color: rgba(221, 221, 221, 0.9);

                .social-buttons {
                    margin: 12px 0;
                }

                a {
                    width: 49%;

                    &.btn-fb {
                        color: #fff;
                        background-color: #3b5998;
                    }

                    &.btn-tw {
                        color: #fff;
                        background-color: #55acee;
                    }
                }

                .help-block {
                    font-size: 12px;
                }

                .bottom {
                    background-color: rgba(255, 255, 255, .8);
                    border-top: 1px solid #ddd;
                    clear: both;
                    padding: 14px;
                    width: 100%;
                }

                input[type=checkbox] {
                    right: unset;
                    left: 0;
                }
            }

        }


        &.nav-item.nav-icon {
            position: relative;

            a {
                padding-top: 12px;

                i {
                    font-size: 24px;
                    display: block;
                }

                span.nav-notif {
                    display: inline-block;
                    padding: .25em .4em;
                    font-weight: 700;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25rem;
                    font-size: 0.75rem;
                    position: absolute;
                    top: 5px;
                    right: 0;
                    font-family: sans-serif;

                    color: #fff;
                    background-color: $danger;
                }

                &:after {
                    display: none;
                }

            }
        }

        .auth.dropdown-menu {
            width: 350px;

            .dropdown-menu-content {
                padding: 0 15px 15px 15px;
            }

            .dropdown-menu-footer {
                padding: 0 15px 15px 15px;
            }
        }

        .notification.dropdown-menu {
            min-width: 350px;
            padding: 0;

            li.dropdown-item:hover {
                background-color: #ffffff;
            }

            .dropdown-header, .dropdown-footer {
                border-bottom: 1px solid rgba(0, 0, 0, .0625) !important;
                text-align: center;
            }

            .dropdown-header {
                padding: 20px 15px;
            }

            .dropdown-footer {
                padding: 0;

                a {
                    padding: 15px;
                }
            }

            .dropdown-item.dropdown-body {
                padding: 0;
                max-height: 330px;
                overflow-y: auto;


                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        line-height: initial;
                        padding: 0;
                        width: 100%;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        border-bottom: 1px solid rgba(0, 0, 0, .0625) !important;

                        a {
                            padding: 1em 20px;
                            display: block;

                            .media {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: start;
                                -ms-flex-align: start;
                                align-items: flex-start;

                                img {
                                    width: 40px;
                                    margin-right: 10px;
                                }

                                .media-body {
                                    .notification-user {
                                        font-size: 15px;
                                        font-weight: 500;
                                        margin-bottom: 5px;
                                    }

                                    .notification-msg {
                                        margin-bottom: 5px;
                                        font-size: 14px;
                                        white-space: normal;
                                    }

                                    .notification-time {
                                        font-size: 12px;
                                        color: #919aa3;
                                    }
                                }
                            }
                        }

                        &:hover{
                            background-color: #ffc!important;
                        }

                        &.unread{
                            background-color: #f7f7f7;
                            border: none;
                            border-bottom: 1px solid #eee;
                            font-weight: bold;
                        }
                    }
                }

            }

        }

    }

}

@media (min-width: 768px) {
    .notification.dropdown-menu {
        width: 350px;
    }
}

