.small-top {
    border-bottom: 1px solid #2b2b2b;
    float: left;
    width: 100%;
    background: #000;

    .social-icon {
        float: right;

        a {
            border-left: 1px solid #2b2b2b;
            color: #ca1b1b;
            float: left;
            padding: 6px 13px;
        }

        a:last-child {
            border-right: 1px solid #2b2b2b;
        }

        a:hover {
            color: #FD3A13;
            text-decoration: none;
        }
    }

    .date-sec {
        font-size: 13px;
        font-weight: 600;
        float: left;
        margin-top: 4px;
        color: #898989
    }

}
